#anima_div {
    background-image: url("../imgs/some_fighter_and_stone_kirby_custom_sprites_by_soulhunter67_dbyp3l9-fullview.png");
    width: 42px;
    height: 40px;
    animation: anima-sprite 1.0s steps(5) infinite;
    position: absolute;
}
@keyframes anima-sprite {
    from {background-position: 0px;}
    to {background-position: -220px;}
}
#name{
    font-family:'Courier New', Courier, monospace;


}
#prof{
    margin-left:40px ;
    font-family: "Comic Sans MS";
}

#poste{
background-image: url("../imgs/poste.png");  
width: 78px;
height: 157px;
margin-left: 94px;
margin-top: 400px;
z-index: 10;
position: absolute;
}
#poste2{
    background-image: url("../imgs/poste.png");  
    width: 78px;
    height: 157px;
    margin-left: 574px;
    margin-top: 400px;
    z-index: 10;
    position: absolute;
    }

#anima_div_2 {
    background: url("../imgs/link.png") -1195px -0px;
    height:125px;
    width:120px;
    animation: anima-sprite-2 1.0s steps(8) infinite;
    }

@keyframes  anima-sprite-2{
    100% {background-position-x: -2160px;}
}
#mov-link{
    width: 120px;
    height: 125px;
    position: relative;
    border-radius: 50%;
    animation: mov-div 10s infinite;
}
@keyframes mov-div {
    0% {margin-left: 80px; margin-top: 120px;transform: scaleX(-1) }
    20% {margin-left: 80px; margin-top: 380px;transform: scaleX(-1)}
    40% {margin-left: 540px;margin-top: 380px;transform: scaleX(-1)}
    60% {margin-left: 540px;margin-top: 120px;transform: scaleX(-1)}
    61% {margin-left: 540px;margin-top: 120px;transform: scaleX(1)}
    70% {margin-left: 540px;margin-top: 380px;transform: scaleX(1)}
    80%{margin-left: 300px;margin-top: 380px;transform: scaleX(1);}
    100% {margin-left: 300px;margin-top: 500px;}
}
#bg{
    position: absolute;
    height: 625px;
    width: 740px;
    background-image: url("../imgs/28729.png");
}